{{ define "main" }}
  <article class="mt-6">
    <h1 class="text-3xl font-bold">{{ .Title }}</h1>
    <p class="text-sm text-slate-600 mt-2">
      <span>Published on </span>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Params.tags }}
        <span class="mx-2">•</span>
        <span>
          {{- delimit . ", " -}}
        </span>
      {{ end }}
    </p>
    <div class="prose prose-slate mt-8">
      {{ .Content }}
    </div>
  </article>
{{ end }}


